{{!< main pageTitle="Product" }}

<h1>{{product.title}}</h1>
<p>{{product.description}}</p>

<div id="productList">
  
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="proyecto/Public/index.js"></script>