<H1> Bienvenid@s al Chat</H1>
<div>
    <input id="chat-input" type="text">
</div>
<div>
    <p id="messages"></p>
</div>
<script src="sweetalert2.all.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="proyecto/Public/index.js"></script>