<h1>Pagina del chat</h1>
<div>
    <h1>Servidor con http y websocket</h1>
    <input type="text" id="chatbox" placeholder="escribe un mensaje">
    <input type="text" id="emailbox" placeholder="escribe tu mail">
    <button id="sendButton">Enviar</button>
    <hr>
    <div id="historial"></div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>