<h1>P치gina de Perfil</h1>

<!-- Check if the user is logged in -->
{{#if user}}
  <p>Bienvenido, {{user}}</p>
  <form action="/logout" method="post">
    <button type="submit">Cerrar Sesi칩n</button>
  </form>
{{else}}
  <p>No has iniciado sesi칩n. <a href="/login">Inicia sesi칩n</a></p>
{{/if}}