<h1>Página de Perfil</h1>

<!-- Check if the user is logged in -->

  <p>Bienvenido, {{user.email}}</p>
  <form action="/api/sessions/logout" method="post" >
    <button type="submit">Cerrar Sesión</button>
  </form>
